.notification {
    color: green;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.error {
    color: red;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.blogDetails {
    list-style: none
}

.blogMinimized {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
}

.blogMaximized {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
}